* {
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;

  & .card {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;

    .card-banner {
      background-image: url(assets/images/illustration-sign-up-mobile.svg);
      height: 30%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0 0 1rem 1rem;
      background-position: top;
      padding: 1rem;
    }
    .card-content {
      padding: 1.5rem;

      .card-title {
        padding-bottom: 2rem;
        font-size: 21px;
      }
      .description {
        padding-bottom: 2rem;
      }
      .facts {
        .line-break {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 1rem;
          padding-bottom: 1rem;
        }
      }
      .form-submit {
        padding-top: 20px;
        width: 100%;
        height: 30%;

        h2 {
          font-size: 14px;
          padding-bottom: 5px;
        }
        #email {
          padding: 1rem;
          width: 80%;
          border-radius: 0.4rem;
          border-width: 2px;
          border-color: hsl(233, 6%, 73%);
          margin-bottom: 1.25rem;
        }
        #submit-btn {
          padding: 1rem;
          width: 91.5%;
          border-radius: 0.4rem;
          border-width: 2px;
          background-color: hsl(234, 29%, 20%);
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(234, 29%, 20%);
    .card {
      width: 40vw;
      height: 60vh;
      border-radius: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      padding: 2rem;
      padding-right: 1rem;

      .card-banner {
        height: 100%;
        width: 50%;
        background-image: url("assets/images/illustration-sign-up-desktop.svg");
        background-size: cover;
        flex-grow: 1;
        border-radius: 2.4rem 2.4rem;
      }
    }

    .card-content {
      height: 100%;
      width: 50%;
      flex-grow: 1;
      margin-top: 7rem;
    }
  }
}
