* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: hsl(234, 29%, 20%);
}
body {
  width: 100vw;
  height: 100vh;

  & .background {
    background-image: url("assets/images/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  & .info-container {
    margin-top: 17rem;
    max-width: 100vh;
    max-height: 100vh;
    position: absolute;
    display: block;

    & .info-title {
      & h1 {
        font-size: 40px;
        font-weight: 700;
      }
    }

    & .info-content {
      & .info-line {
        display: inline-block;
        font-weight: normal;
        align-items: center;
      }
    }
    & .submition {
      display: block;
      & #input-email {
        display: flex;
        margin: auto;
        margin-bottom: 30px;
        padding: auto;
        opacity: 0.6rem;
        border-color: hsla(231, 7%, 60%, 0.184);
        height: 30px;
        border-width: 0.5px;
        border-radius: 6%;
      }
      & #submit {
        display: flex;
        margin: auto;
        padding: auto;
        color: white;
        background-color: hsl(234, 29%, 20%);
        height: 6vh;
        width: 90vw;
        text-align: center;
        border-radius: 6%;
        border-color: hsla(234, 29%, 20%, 0);
        border-width: 0.5px;
      }
    }
  }
}

@media (min-width: 768px) {
  .background {
    background-image: url("assets/images/illustration-sign-up-desktop.svg");
  }
}
