* {
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;

  & .card {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    flex-direction: column;

    .card-banner {
      background-image: url(assets/images/illustration-sign-up-mobile.svg);
      height: 30%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0 0 1rem 1rem;
      background-position: top;
      padding: 1rem;
    }
    .card-content {
      padding: 1rem;
    }
  }
}
@media (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(234, 29%, 20%);
    .card {
      width: 40vw;
      height: 60vh;
      border-radius: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      padding: 2rem;
      padding-right: 1rem;

      .card-banner {
        height: 100%;
        width: 50%;
        background-image: url("assets/images/illustration-sign-up-desktop.svg");
        background-size: cover;
        flex-grow: 1;
        border-radius: 2.4rem 2.4rem;
      }
    }

    .card-content {
      height: 100%;
      width: 50%;
      flex-grow: 1;
    }
  }
}
